<div class='letter-filter'>
  <a href='{% url "contact_index" %}'> All </a>
  <a href='{% url "contact_index" letter="A" %}'> A </a>
  <a href='{% url "contact_index" letter="B" %}'> B </a>
  <a href='{% url "contact_index" letter="C" %}'> C </a>
  <a href='{% url "contact_index" letter="D" %}'> D </a>
  <a href='{% url "contact_index" letter="E" %}'> E </a>
  <a href='{% url "contact_index" letter="F" %}'> F </a>
  <a href='{% url "contact_index" letter="G" %}'> G </a>
  <a href='{% url "contact_index" letter="H" %}'> H </a>
  <a href='{% url "contact_index" letter="I" %}'> I </a>
  <a href='{% url "contact_index" letter="J" %}'> J </a>
  <a href='{% url "contact_index" letter="K" %}'> K </a>
  <a href='{% url "contact_index" letter="L" %}'> L </a>
  <a href='{% url "contact_index" letter="M" %}'> M </a>
  <a href='{% url "contact_index" letter="N" %}'> N </a>
  <a href='{% url "contact_index" letter="O" %}'> O </a>
  <a href='{% url "contact_index" letter="P" %}'> P </a>
  <a href='{% url "contact_index" letter="Q" %}'> Q </a>
  <a href='{% url "contact_index" letter="R" %}'> R </a>
  <a href='{% url "contact_index" letter="S" %}'> S </a>
  <a href='{% url "contact_index" letter="T" %}'> T </a>
  <a href='{% url "contact_index" letter="A" %}'> U </a>
  <a href='{% url "contact_index" letter="A" %}'> V </a>
  <a href='{% url "contact_index" letter="A" %}'> W </a>
  <a href='{% url "contact_index" letter="X" %}'> X </a>
  <a href='{% url "contact_index" letter="Y" %}'> Y </a>
  <a href='{% url "contact_index" letter="Z" %}'> Z </a>
</div>
