{% extends 'layouts/base.html' %}

{% block 'title' %} Contact {{contact.name}} {% endblock %}

{% block 'content' %}

{% if messages %}
<ul class="messages">

  {% for message in messages %}
  <li {% if message.tags %} class="succes-msg" {% endif %}>{{ message }}</li>
  {% endfor %}

</ul>
{% endif %}

<span class='aux-btn'><a href="{% url 'contact_index' %}"> Go Back </a></span>

{% if id %}
<form action="{% url 'update_contact' id=id %}" method="POST">
  {% endif %}

  <form action="{% url 'create_contact' %}" method="POST">
    {% csrf_token %}

    <table>
      {{form}}
    </table>

    <input class="btn btn-send" type="submit" value="Send">

  </form>

  {% endblock %}
